apiVersion: v1
kind: Service
metadata:
  annotations:
    openshift.io/generated-by: OpenShiftNewApp
  creationTimestamp: null
  labels:
    app: {{ imagestream_name }}
    app.kubernetes.io/component: {{ imagestream_name }}
    app.kubernetes.io/instance: {{ imagestream_name }}
  name: {{ imagestream_name }}
spec:
  ports:
    - name: 5000-tcp
      port: 5000
      protocol: TCP
      targetPort: 5000
  selector:
    deployment: {{ imagestream_name }}
status:
  loadBalancer: {}
